@import "./menu.css";
@import "./cursor.css";
@import "./map.css";


body {
  margin: 0;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}
